@using MvcStarter01.DataAccess.Entity
@model Car

@{
    ViewBag.Title = "Refuel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Refuel</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            Car License No : @Model.RegisterNo
        </div>
        <div class="form-group">
            Before Fuel :
            @Html.TextBox("beforeFuel", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            Refuel Amount :
            @Html.TextBox("refuelAmount", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-danger" />
            <p class="text-danger">@ViewBag.Message</p>
        </div>
    </div>
}
